<div class="measure">
    <label for="{{ id }}" class="f6 b db mb2">{{ label }}</label>
    <input id="{{ id }}" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="name-desc">
    {#    <small id="name-desc" class="f6 black-60 db mb2">Param doc</small>#}
</div>