<div class="form-group">
    <div class="col-3 col-sm-12">
        <label class="form-label" for="{{ id }}">{{ label }}</label>
    </div>
    <div class="col-9 col-sm-12">
        <textarea class="form-input" type="text" id="{{ id }}" placeholder=""></textarea>
    </div>
</div>