<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Justin Tervay{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    {% block style %}
    {% endblock %}
    <style>
        .container {
            margin-top: 5%;
        }

        body {
            font-family: "Open Sans", sans-serif;
        }

        .navbar {
            padding: 1%;
        }

    </style>
</head>
<body>
<header class="navbar bg-secondary">
    <section class="navbar-section">
        <a href="/share" class="btn btn-link">All Functions</a>
    </section>
    <section class="navbar-center">
        <a href="/" class="navbar-brand mr-2"><b>Justin Tervay</b></a>
    </section>
    <section class="navbar-section">
        {#        <a href="#" class="btn btn-link">Twitter</a>#}
        <a href="https://github.com/tervay" class="btn btn-link">GitHub</a>
    </section>
</header>
<div class="container" id="container">
    {% block content %}
    {% endblock %}
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://rawcdn.githack.com/tristen/tablesort/3f9153b3e5f6d87ec8f9d83bb0c986d705661402/dist/tablesort.min.js"></script>
<script src="https://rawcdn.githack.com/tristen/tablesort/3f9153b3e5f6d87ec8f9d83bb0c986d705661402/src/sorts/tablesort.number.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>