{% extends 'base.html.jinja2' %}
{% block style %}
    <style>
        .rtl {
            unicode-bidi: bidi-override;
            direction: rtl;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none
        }
    </style>
{% endblock %}
{% block content %}
    <nav class="pa3 pa4-ns">
        <a class="link dim black b f1 f-headline-ns tc db mb3 mb4-ns" href="#" title="Home">Justin Tervay</a>
        <div class="tc pb3">
            <div class="link dim gray f6 f5-ns dib mr3 rtl">moc.yavret@nitsuj</div>
            <a class="link dim gray f6 f5-ns dib mr3" href="/resume/" title="Resume">Resume</a>
        </div>
    </nav>
{% endblock %}
