<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ item.name }}</title>
</head>
<body>

<form action="" method="post" novalidate id="form">
    {{ form.hidden_tag() }}
    {% for arg_name, field in form_fields %}
    <p>
        {{ field.label }}<br>
        {{ field(size=32) }}
    </p>
    {% endfor %}
</form>

<div>
    <p id="result"></p>
</div>


<script>
    window.onload = () => {
        document.getElementById('form').addEventListener('submit', (e) => {
            document.getElementById('result').innerText = 'Loading...';
            if (e.preventDefault) e.preventDefault();
            const url = "{{ api_endpoint }}";
            let body = {
            {% for arg_name, field in form_fields %}
                {{ arg_name }}:document.getElementById('{{ arg_name }}').value,
            {% endfor %}
            };

            fetch(url, {
                method: 'post',
                body: JSON.stringify(body)
            }).then((r) => {
                return r.json();
            }).then((d) => {
                if (!d.hasOwnProperty('error')) {
                    document.getElementById('result').innerText = `Result: ${d['result']} (cache hit: ${d['cached']})`;
                } else {
                    document.getElementById('result').innerText = `Error: ${d["error"]}`;
                }
            }).catch((e) => {
                document.getElementById('result').innerText = `Error: ${e}`;
            });
            return false;
        });
    };
</script>
</body>
</html>