{% extends 'homepage.html.jinja2' %}

{% block style %}
    <style>
        .form-container {
            min-width: 80%;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock %}
{% block content %}

    <div class="form-container">
        <ul class="menu">
            <li class="divider" data-content="FUNCTIONS"></li>
            {% for fd, args in data.items() %}
                <li class="menu-item">
                    <a href="{{ fd.url }}">{{ fd.name }}</a>
                    <div class="menu-badge hide-md">
                        {% for arg_name, arg_type in args %}
                            <label class="label label-primary">{{ arg_name }}</label>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
