{% extends 'homepage.html.jinja2' %}

{% block content %}
    <div class="pa3 pa5-ns">
        <ul class="list pl0 measure center">
            {% for group, fdargs in data.items() %}
                <li class="lh-copy pv3 ba bl-0 bt-0 br-0 b--dotted b--black-30 b">{{ group.to_label() }}</li>
                {% for fd, args in fdargs.items() %}
                    <li class="lh-copy pv3 ba bl-0 bt-0 br-0 b--dotted b--black-30">
                        <a href="{{ fd.url }}">{{ fd.name }}</a>
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}

